<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htstar.ovms.msg.mapper.MsgPushLogMapper">

  <resultMap id="msgPushLogMap" type="com.htstar.ovms.msg.api.entity.MsgPushLog">
  <id property="id" column="id"/>
  <result property="title" column="title"/>
  <result property="userId" column="user_id"/>
  <result property="msgType" column="msg_type"/>
  <result property="content" column="content"/>
    <result property="msgStatus" column="msg_status"/>
  <result property="createTime" column="create_time"/>
  </resultMap>
  <sql id="clums">
    id,
    title,
    user_id,
    msg_type,
    content,
    msg_status,
    create_time,
    app_car_id,
    remind_type
  </sql>
    <select id="getMsgPushLogCount" resultType="com.htstar.ovms.msg.api.vo.MsgPushLogCountVO">
    SELECT
    log1.msgCount1,log2.msgCount2,log3.msgCount3
    FROM
    (select COUNT(msg_type) AS msgCount2 from msg_push_log where msg_type=2 and msg_status = 0 and user_id =#{userId} ) log2,
    (select COUNT(msg_type) AS msgCount3 from   msg_push_log where msg_type=3 and  msg_status = 0 and user_id =#{userId}) log3,
    (select COUNT(msg_type) AS msgCount1 from  msg_push_log where msg_type=1 and msg_status = 0 and user_id =#{userId}) log1
    </select>
</mapper>
