<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htstar.ovms.admin.mapper.EtpInfoMapper">
    <resultMap id="etpInfoMap" type="com.htstar.ovms.admin.api.entity.EtpInfo">
        <id property="id" column="id"/>
        <result property="etpName" column="etp_name"/>
        <result property="etpNo" column="etp_no"/>
        <result property="adminName" column="admin_name"/>
        <result property="etpLogo" column="etp_logo"/>
        <result property="contact" column="contact"/>
        <result property="industry" column="industry"/>
        <result property="etpDesc" column="etp_desc"/>
        <result property="etpAddr" column="etp_addr"/>
        <result property="etpType" column="etp_type"/>
        <result property="staTime" column="sta_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="distributeStatus" column="distribute_status"/>
        <result property="etpStatus" column="etp_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
    <resultMap id="etpInfoMaps" type="com.htstar.ovms.admin.api.vo.EtpInfoSVo">
        <id property="id" column="id"/>
        <result property="etpName" column="etp_name"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
    <sql id="clums">
        id,
        etp_name,
        etp_no,
        admin_name,
        etp_logo,
        contact,
        industry,
        etp_desc,
        etp_addr,
        etp_type,
        sta_time,
        end_time,
        create_time,
        update_time,
        distribute_status,
        etp_status,
        del_flag
      </sql>
    <update id="updateEtpNo">
        UPDATE etp_info SET etp_no = #{etpNo} WHERE id = #{etpId}
    </update>
    <update id="updateDistributeStatus">
        UPDATE etp_info SET distribute_status = #{distributeStatus} WHERE id = #{etpId}
    </update>
    <select id="exsitThisByName" resultType="java.lang.Long">
            SELECT COUNT(1) FROM etp_info WHERE etp_name = #{etpName} AND del_flag = 0
      </select>

    <select id="queryPage" resultType="com.htstar.ovms.admin.api.vo.EtpPageVO">
        select * from etp_info
        where del_flag = 0 and id in
        <foreach item="item" index="index" collection="ids" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="etpInfo.etpName != null">
            AND etp_name LIKE concat(concat("%",#{etpInfo.etpName}),"%")
        </if>
        <if test="etpInfo.etpType != null">
            AND etp_type = #{etpInfo.etpType}
        </if>
        <if test="etpInfo.etpStatus != null">
            AND etp_status = #{etpInfo.etpStatus}
        </if>
        <!--        <if test="etpInfo.parentId != null">-->
        <!--            AND parent_id = #{etpInfo.parentId}-->
        <!--        </if>-->
    </select>
    <select id="getNormalEtp" resultType="com.htstar.ovms.admin.api.entity.EtpInfo">
        SELECT * FROM etp_info
            WHERE etp_no = #{etpNo}
            and etp_status = 0
            and del_flag = 0
            and sta_time &lt; #{nowCst}
            and end_time &gt; #{nowCst}
    </select>
    <select id="queryNormalTenant" resultType="com.htstar.ovms.admin.api.entity.EtpInfo">
        SELECT * FROM etp_info
        WHERE  etp_status = 0
        and del_flag = 0
        and sta_time &lt; #{nowCst}
        and end_time &gt; #{nowCst}
    </select>
    <select id="getEtpTree" resultMap="etpInfoMaps">
        select
        parent_id,
        id,
        etp_name,
        etp_no as etpNo
        from etp_info
        <where>
            and del_flag = 0

        </where>
        ORDER BY parent_id desc
    </select>
    <select id="getEtpTrees" resultMap="etpInfoMaps">
        select
        parent_id,
        id
        from etp_info
        <where>
            and del_flag = 0
            <if test="parentId != null and parentId != ''">
                and parent_id = #{parentId}
            </if>
        </where>
        ORDER BY parent_id desc
    </select>
    <select id="getById" resultType="java.lang.String">
    SELECT
	a.parent_id
    FROM
	etp_info a
	where  a.id= #{etpId}
    </select>

    <update id="updateEtps">
        UPDATE `ovmsx`.`etp_info` SET `del_flag` = 1
        where id in
        <foreach item="item" index="index" collection="i1" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="disablestatusEtps">
        UPDATE `ovmsx`.`etp_info`
        <if test="status == 9">
            SET `etp_status` = 9
        </if>
        <if test="status == 0">
            SET `etp_status` = 0
        </if>
        where id in
        <foreach item="item" index="index" collection="i1" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="getSysUserByEtpId" resultType="com.htstar.ovms.admin.api.vo.UserVO">
        SELECT `nick_name` , `dept_id` ,`etp_id`
	FROM `sys_user`
	WHERE etp_id = #{etpId}
    </select>
</mapper>
