<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htstar.ovms.admin.mapper.SysUserLiceMapper">
    <resultMap id="sysUserLiceMap" type="com.htstar.ovms.admin.api.entity.SysUserLice">
        <id property="userId" column="user_id"/>
        <result property="licenseAddr" column="license_addr"/>
    </resultMap>
</mapper>
