<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htstar.ovms.mp.mapper.WxFansMsgMapper">

	<resultMap id="wxFansMsgMap" type="com.htstar.ovms.mp.entity.WxFansMsg">
		<id property="id" column="id"/>
		<result property="openid" column="openid"/>
		<result property="nickname" column="nickname"/>
		<result property="headimgUrl" column="headimg_url"/>
		<result property="wxAccountId" column="wx_account_id"/>
		<result property="wxAccountName" column="wx_account_name"/>
		<result property="wxAccountAppid" column="wx_account_appid"/>
		<result property="msgType" column="msg_type"/>
		<result property="content" column="content"/>
		<result property="resContent" column="res_content"/>
		<result property="isRes" column="is_res"/>
		<result property="mediaId" column="media_id"/>
		<result property="picUrl" column="pic_url"/>
		<result property="picPath" column="pic_path"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="etpId" column="etp_id"/>
	</resultMap>
</mapper>
