<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htstar.ovms.enterprise.mapper.CarEtcCardMapper">
    <!--分页-->
    <select id="queryPage" resultType="com.htstar.ovms.enterprise.api.vo.EtcCardPageVO">
        SELECT e.*,
        c.lic_code as bindingUser
        FROM car_etc_card e
        LEFT JOIN car_info c ON e.`binding_id` = c.id
           where e.`del_flag`=0
            <if test="carFileManageReq.card!=null and carFileManageReq.card!=''">
                and (e.`card_name`like concat('%',#{carFileManageReq.card},'%') or e.`card_no`like concat('%',#{carFileManageReq.card},'%'))
            </if>
            <if test="carFileManageReq.etpId != null">
                AND e.etp_id = #{carFileManageReq.etpId}
            </if>

    </select>
    <!--获取所有id-->
    <select id="getIdList" resultType="java.lang.Integer">
          SELECT id FROM car_etc_card WHERE del_flag=0 AND etp_id=#{etpId}
    </select>
    <!--导出-->
    <select id="exportExcel" resultType="com.htstar.ovms.enterprise.api.vo.EtcCardPageVO">
        SELECT e.*,
        c.lic_code as bindingUser
        FROM car_etc_card e
        LEFT JOIN car_info c ON e.`binding_id` = c.id
        where  e.`del_flag`=0
            <if test="req.ids!=null and req.ids!=''">
                and e.id in (${req.ids})
            </if>
            <if test="req.card!=null and req.card!=''">
                and e.`card_name`like concat('%',#{req.card},'%') or e.`card_no`like concat('%',#{req.card},'%')
            </if>
            <if test="req.etpId != null">
                AND e.etp_id = #{req.etpId}
            </if>
    </select>
</mapper>
