# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\hsl_personal\CODE\GitRep\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
